<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Portfolio - Adan Gimenez</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Stylesheet -->
    <link href="css/styles-portfolio.css" rel="stylesheet">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="51">
    <!-- Navbar Start -->
    <nav class="navbar fixed-top shadow-sm navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5">
        <a href="index.html" class="navbar-brand ml-lg-3">
            <h1 class="m-0 display-5"><span class="text-primary">Adan</span>Gimenez</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-lg-3" id="navbarCollapse">
            <div class="navbar-nav m-auto py-0">
                <a href="#home" class="nav-item nav-link active">Home</a>
                <a href="#about" class="nav-item nav-link">About</a>
                <a href="#qualification" class="nav-item nav-link">Quality</a>
                <a href="#skill" class="nav-item nav-link">Skill</a>
                <a href="#portfolio" class="nav-item nav-link">Portfolio</a>
                <a href="#contact" class="nav-item nav-link">Contact</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->



    <!-- Header Start -->
    <div class="container-fluid bg-dark d-flex align-items-center mb-5 py-5" id="home" style="min-height: 100vh;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 px-5 pl-lg-0 pb-5 pb-lg-0">
                    <img class="img-fluid w-100 rounded-circle shadow-sm" src="img/profile.jpg" alt=""
                        style="object-fit: cover; height: 427px;">
                </div>
                <div class="col-lg-7 text-center text-lg-left">
                    <h3 class="text-white font-weight-normal mb-3">I'm</h3>
                    <h1 class="display-3 text-uppercase text-primary mb-2" style="-webkit-text-stroke: 2px #ffffff;">
                        Adan Gimenez</h1>
                    <h1 class="typed-text-output d-inline font-weight-lighter text-white"></h1>
                    <div class="typed-text d-none">Web Developer, Front End Developer, Back End Developer</div>
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-fluid py-5" id="about">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">About</h1>
                <h1 class="position-absolute text-uppercase text-primary">About Me</h1>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <img class="img-fluid rounded w-100" src="img/about.jpg" alt="">
                </div>
                <div class="col-lg-7">
                    <h3 class="mb-4">Web Developer</h3>
                    <p>
                        I consider myself a ppasionate person about tecnology i think we can do great things with it and
                        to improve our environment if we put it to good use.
                        i like to support new ideas because i know they can have a great result, i'm the kind of person
                        that when i do something i try to do my best.

                        It's been a little over 7 years that I've been programmed, Currently I do almost all my projects
                        with javascript and some of its framework: NodeJs, ReactJs.
                        I had my first interaction with programming in high school with the programming language "Basic"
                        with this language we are simulating the function of an ATM,
                        a few months later we saw several classes with Visual Basic 6.0 with this we were programming a
                        simple game. In my first job related to the world of computing and programming, I had the
                        opportunity to learn Visual Basic .NET and database management, some time later I was working
                        with the PHP language, delving deeper into the web world.
                    </p>
                    <div class="row mb-3">
                        <div class="col-sm-6 py-2">
                            <h6>Country of birth: <span class="text-secondary">Venezuela</span></h6>
                        </div>
                        <div class="col-sm-6 py-2">
                            <h6>I currently live in: <span class="text-secondary">United States</span></h6>
                        </div>
                        <div class="col-sm-6 py-2">
                            <h6>Experience: <span class="text-secondary">7 Years</span></h6>
                        </div>
                        <div class="col-sm-6 py-2">
                            <h6>remote work: <span class="text-secondary">Available</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Qualification Start -->
    <div class="container-fluid py-5" id="qualification">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Quality</h1>
                <h1 class="position-absolute text-uppercase text-primary">Education & Expericence</h1>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h3 class="mb-4">My Education</h3>
                    <div class="border-left border-primary pt-2 pl-4 ml-2">
                        <div class="position-relative mb-4">
                            <i class="far fa-dot-circle text-primary position-absolute"
                                style="top: 2px; left: -32px;"></i>
                            <h5 class="font-weight-bold mb-1">NodeJs</h5>
                            <p class="mb-2"><strong>Udemy</strong> | <small>2021 - 2022</small></p>
                            <p>I have taken several courses on udemy with very good teachers who share knowledge in the
                                programming area that can be used in the workplace, some of the courses I have seen are
                                related to: NodeJs, ReactJs, JavaScript, express</p>
                        </div>
                        <div class="position-relative mb-4">
                            <i class="far fa-dot-circle text-primary position-absolute"
                                style="top: 2px; left: -32px;"></i>
                            <h5 class="font-weight-bold mb-1"> JavaScript, PHP</h5>
                            <p class="mb-2"><strong>Benllisoft</strong> | <small>2017</small></p>
                            <p>Studies of various programming topics with the php and javascript language,
                                object-oriented programming, backend and frontend design, database connections and
                                server administration.</p>
                        </div>
                        <div class="position-relative mb-4">
                            <i class="far fa-dot-circle text-primary position-absolute"
                                style="top: 2px; left: -32px;"></i>
                            <h5 class="font-weight-bold mb-1">Associate’s degree, Computer Science</h5>
                            <p class="mb-2"><strong>CUAM University</strong> | <small>2016 - 2019</small></p>
                            <p>University studies carried out in Venezuela with a duration of 3 years, I was able to
                                obtain knowledge related to the following topics: programming algorithms, databases,
                                flowcharts, programming logic, object-oriented programming.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="mb-4">My Expericence</h3>
                    <div class="border-left border-primary pt-2 pl-4 ml-2">
                        <div class="position-relative mb-4">
                            <i class="far fa-dot-circle text-primary position-absolute"
                                style="top: 2px; left: -32px;"></i>
                            <h5 class="font-weight-bold mb-1">Web programming</h5>
                            <p class="mb-2"><strong>Mercasist C.A</strong> | <small>2020 - 2021</small></p>
                            <p>
                                backend and frontend development, I was working with the api of mercadolibre for
                                integrations with the system as well as development of new functionalities using
                                technologies such as: JavaScript, PHP, HTML, CSS, Git, MySql.
                            </p>
                        </div>
                        <div class="position-relative mb-4">
                            <i class="far fa-dot-circle text-primary position-absolute"
                                style="top: 2px; left: -32px;"></i>
                            <h5 class="font-weight-bold mb-1">Web programming</h5>
                            <p class="mb-2"><strong>Freelance</strong> | <small>2018 - 2020</small></p>
                            <p>
                                I have been working for about 2 years as a freelance with clients from Peru, Ecuador and
                                Spain. make various programs using PHP, JavaScript, html, css.
                            </p>
                        </div>
                        <div class="position-relative mb-4">
                            <i class="far fa-dot-circle text-primary position-absolute"
                                style="top: 2px; left: -32px;"></i>
                            <h5 class="font-weight-bold mb-1">Systems Analyst</h5>
                            <p class="mb-2"><strong>Diadia supermarkets</strong> | <small>2015 - 2018</small></p>
                            <p>
                                it was the first company where i had the opportunity of to be part of the IT team, at
                                the beginning I was doing various jobs with databases,
                                then I was doing some projects related to programming using: Visual Basic .net, PHP,
                                JavaScript.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Qualification End -->


    <!-- Skill Start -->
    <div class="container-fluid pt-5 pb-3" id="Skill">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Skills</h1>
                <h1 class="position-absolute text-uppercase text-primary">My Skills</h1>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4">
                    <img class="img-fluid rounded w-100 h-100 shadow-lg" style="object-fit: cover;"
                        src="img/nodeLogo.png">
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <img class="img-fluid rounded w-100 h-100 shadow-lg" style="object-fit: cover;"
                        src="img/expressLogo.png" alt="">
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <img class="img-fluid rounded w-100 h-100 shadow-lg" style="object-fit: cover;"
                        src="img/javascriptLogo.png" alt="">
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <img class="img-fluid rounded w-100 h-100 shadow-lg" style="object-fit: cover;"
                        src="img/phpLogo.png" alt="">
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <img class="img-fluid rounded w-100 h-100 shadow-lg" style="object-fit: cover;"
                        src="img/htmlLogo.png" alt="">
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <img class="img-fluid rounded w-100 h-100 shadow-lg" style="object-fit: cover;"
                        src="img/cssLogo.png" alt="">
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <img class="img-fluid rounded w-100 h-100 shadow-lg" style="object-fit: cover;"
                        src="img/reactjsLogo.png" alt="">
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <img class="img-fluid rounded w-100 h-100 shadow-lg" style="object-fit: cover;"
                        src="img/mysqlLogo.png" alt="">
                </div>

                <div class="col-lg-3 col-md-6 mb-4">
                    <img class="img-fluid rounded w-100 h-100 shadow-lg" style="object-fit: cover;"
                        src="img/gitLogo.png" alt="">
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <img class="img-fluid rounded w-100 h-100 shadow-lg" style="object-fit: cover;"
                        src="img/mongoLogo.png" alt="">
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <img class="img-fluid rounded w-100 h-100 shadow-lg" style="object-fit: cover;"
                        src="img/bootstrapLogo.jpeg" alt="">
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <img class="img-fluid rounded w-100 h-100 shadow-lg" style="object-fit: cover;"
                        src="img/pythonLogo.png" alt="">
                </div>

            </div>
        </div>
    </div>
    <!-- Skill End -->


    <!-- Portfolio Start -->
    <div class="container-fluid pt-5 pb-3" id="portfolio">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Gallery</h1>
                <h1 class="position-absolute text-uppercase text-primary">My Portfolio</h1>
            </div>

            <div class="row portfolio-container">
                <div class="col-lg-4 col-md-6 first div-img">
                    <div class="position-relative overflow-hidden mb-2 h-100 portfolio-item">
                        <img class="img-fluid rounded w-100 h-100" src="img/portfolio-1.png" alt="">
                        <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                            <a href="img/portfolio-1.png" data-lightbox="portfolio">
                                <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                            </a>
                        </div>
                    </div>
                    <div>
                        <a href="https://github.com/adan-g/react-criptos.git" target="_blank" class="btn-enlace">Git
                            repository</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 second div-img">
                    <div class="position-relative overflow-hidden mb-2 h-100 portfolio-item">
                        <img class="img-fluid rounded w-100 h-100" src="img/portfolio-2.png" alt="">
                        <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                            <a href="img/portfolio-2.png" data-lightbox="portfolio">
                                <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                            </a>
                        </div>
                    </div>
                    <div>
                        <a href="https://github.com/adan-g/vetAppointments.git" target="_blank" class="btn-enlace">Git
                            repository</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 third div-img">
                    <div class="position-relative overflow-hidden mb-2 h-100 portfolio-item">
                        <img class="img-fluid rounded w-100 h-100" src="img/portfolio-3.png" alt="">
                        <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                            <a href="img/portfolio-3.png" data-lightbox="portfolio">
                                <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                            </a>
                        </div>
                    </div>
                    <div>
                        <a href="https://github.com/adan-g/react-insuranceQuoter.git" target="_blank"
                            class="btn-enlace">Git repository</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 first div-img">
                    <div class="position-relative overflow-hidden mb-2 h-100 portfolio-item">
                        <img class="img-fluid rounded w-100 h-100" src="img/portfolio-4.png" alt="">
                        <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                            <a href="img/portfolio-4.png" data-lightbox="portfolio">
                                <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                            </a>
                        </div>
                    </div>
                    <div>
                        <a href="https://www.mercasist.com/" target="_blank" class="btn-enlace">Git repository</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 second div-img">
                    <div class="position-relative overflow-hidden mb-2 h-100 portfolio-item">
                        <img class="img-fluid rounded w-100 h-100" src="img/portfolio-5.png" alt="">
                        <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                            <a href="img/portfolio-5.png" data-lightbox="portfolio">
                                <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                            </a>
                        </div>
                    </div>
                    <div>
                        <a href="https://github.com/adan-g/react-calculator.git" target="_blank" class="btn-enlace">Git
                            repository</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 third div-img">
                    <div class="position-relative overflow-hidden mb-2 h-100 portfolio-item">
                        <img class="img-fluid rounded w-100 h-100" src="img/portfolio-5.png" alt="">
                        <div class="portfolio-btn bg-primary d-flex align-items-center justify-content-center">
                            <a href="img/portfolio-5.png" data-lightbox="portfolio">
                                <i class="fa fa-plus text-white" style="font-size: 60px;"></i>
                            </a>
                        </div>
                    </div>
                    <div>
                        <a href="https://github.com/adan-g/react-calculator.git" target="_blank" class="btn-enlace">Git
                            repository </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio End -->


    <!-- Contact Start -->
    <div class="container-fluid py-5" id="contact">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Contact</h1>
                <h1 class="position-absolute text-uppercase text-primary">Contact Me</h1>
            </div>

            <%if(success_msg !='' ){%>
                <div class="alert alert-success text-center mx-auto w-50" role="alert">
                    <%=success_msg %>
                </div>
                <%}%>

                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="contact-form text-center">
                                <div id="success"></div>
                                <form action="/sentEmail" method="POST" name="sentEmail" id="sentEmail">
                                    <div class="form-row">
                                        <div class="control-group col-sm-6">
                                            <input type="text" class="form-control p-4" name="name"
                                                placeholder="Your Name" required="required" />
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="control-group col-sm-6">
                                            <input type="email" class="form-control p-4" name="email"
                                                placeholder="Your Email" required="required" />
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <input type="text" class="form-control p-4" name="subject" placeholder="Subject"
                                            required="required" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="control-group">
                                        <textarea class="form-control py-3 px-4" rows="5" name="message"
                                            placeholder="Message" required="required"></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div>
                                        <button class="btn btn-outline-primary" type="submit" id="sendMessageButton">
                                            Send Message
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="container text-center py-5">
            <p class="m-0">&copy; <a class="text-white font-weight-bold" href="#">Adan Gimenez</a>. All Rights Reserved.
                Designed by <a class="text-white font-weight-bold" href="#">Adan gimenez</a>
            </p>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Scroll to Bottom -->
    <i class="fa fa-2x fa-angle-down text-white scroll-to-bottom"></i>

    <!-- Back to Top -->
    <a href="#" class="btn btn-outline-dark px-0 back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/typed/typed.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>